Scheme(
    header: Header(
        version: ExtendedScheme,
    ),
    options: Options(
        hot_seat_delay: 5,
        retreat_time: 5,
        rope_retreat_time: 5,
        display_total_round_time: true,
        automatic_replays: true,
        fall_damage: 1,
        artillery_mode: false,
        bounty_mode: false,
        stockpiling_mode: Off,
        worm_select: On,
        sudden_death_event: NuclearStrike,
        water_rise_rate: 2,
        weapon_crate_probability: 100,
        donor_cards: true,
        health_crate_probability: 0,
        health_crate_energy: 25,
        utility_crate_probability: 0,
        hazardous_object_types: 5,
        mine_delay: 3,
        dud_mines: false,
        manual_worm_placement: false,
        initial_worm_energy: 150,
        turn_time: 45,
        round_time: 12,
        number_of_wins: 2,
        blood: false,
        aqua_sheep: true,
        sheep_heaven: false,
        god_worms: false,
        indestructible_land: false,
        upgraded_grenade: false,
        upgraded_shotgun: false,
        upgraded_clusters: false,
        upgraded_longbow: false,
        team_weapons: false,
        super_weapons: true,
    ),
    weapons: Weapons(
        bazooka: Weapon(
            ammunition: 0,
            power: 2,
            delay: 0,
            probability: 3,
        ),
        homing_missile: Weapon(
            ammunition: 0,
            power: 2,
            delay: 0,
            probability: 3,
        ),
        mortar: Weapon(
            ammunition: 0,
            power: 2,
            delay: 0,
            probability: 3,
        ),
        grenade: Weapon(
            ammunition: 0,
            power: 2,
            delay: 0,
            probability: 3,
        ),
        cluster_bomb: Weapon(
            ammunition: 0,
            power: 1,
            delay: 0,
            probability: 3,
        ),
        skunk: Weapon(
            ammunition: 0,
            power: 2,
            delay: 0,
            probability: 3,
        ),
        petrol_bomb: Weapon(
            ammunition: 0,
            power: 2,
            delay: 0,
            probability: 3,
        ),
        banana_bomb: Weapon(
            ammunition: 0,
            power: 2,
            delay: 0,
            probability: 2,
        ),
        handgun: Weapon(
            ammunition: 0,
            power: 2,
            delay: 0,
            probability: 3,
        ),
        shotgun: Weapon(
            ammunition: 0,
            power: 2,
            delay: 0,
            probability: 3,
        ),
        uzi: Weapon(
            ammunition: 0,
            power: 2,
            delay: 0,
            probability: 3,
        ),
        minigun: Weapon(
            ammunition: 0,
            power: 2,
            delay: 0,
            probability: 3,
        ),
        longbow: Weapon(
            ammunition: 0,
            power: 3,
            delay: 0,
            probability: 3,
        ),
        airstrike: Weapon(
            ammunition: 0,
            power: 2,
            delay: 0,
            probability: 3,
        ),
        napalm_strike: Weapon(
            ammunition: 0,
            power: 2,
            delay: 0,
            probability: 3,
        ),
        mine: Weapon(
            ammunition: 0,
            power: 2,
            delay: 0,
            probability: 3,
        ),
        fire_punch: Weapon(
            ammunition: 10,
            power: 2,
            delay: 0,
            probability: 0,
        ),
        dragon_ball: Weapon(
            ammunition: 10,
            power: 2,
            delay: 0,
            probability: 0,
        ),
        kamikaze: Weapon(
            ammunition: 0,
            power: 2,
            delay: 0,
            probability: 0,
        ),
        prod: Weapon(
            ammunition: 10,
            power: 2,
            delay: 0,
            probability: 0,
        ),
        battle_axe: Weapon(
            ammunition: 0,
            power: 2,
            delay: 0,
            probability: 3,
        ),
        blowtorch: Weapon(
            ammunition: 10,
            power: 2,
            delay: 0,
            probability: 0,
        ),
        pneumatic_drill: Weapon(
            ammunition: 10,
            power: 2,
            delay: 0,
            probability: 0,
        ),
        girder: Weapon(
            ammunition: 7,
            power: 2,
            delay: 0,
            probability: 0,
        ),
        ninja_rope: Weapon(
            ammunition: 1,
            power: 4,
            delay: 0,
            probability: 0,
        ),
        parachute: Weapon(
            ammunition: 10,
            power: 0,
            delay: 0,
            probability: 0,
        ),
        bungee: Weapon(
            ammunition: 10,
            power: 0,
            delay: 0,
            probability: 0,
        ),
        teleport: Weapon(
            ammunition: 10,
            power: 0,
            delay: 0,
            probability: 0,
        ),
        dynamite: Weapon(
            ammunition: 0,
            power: 2,
            delay: 0,
            probability: 3,
        ),
        sheep: Weapon(
            ammunition: 0,
            power: 2,
            delay: 0,
            probability: 3,
        ),
        baseball_bat: Weapon(
            ammunition: 0,
            power: 2,
            delay: 0,
            probability: 3,
        ),
        flame_thrower: Weapon(
            ammunition: 0,
            power: 2,
            delay: 0,
            probability: 3,
        ),
        homing_pigeon: Weapon(
            ammunition: 0,
            power: 2,
            delay: 0,
            probability: 3,
        ),
        mad_cow: Weapon(
            ammunition: 0,
            power: 2,
            delay: 0,
            probability: 2,
        ),
        holy_hand_grenade: Weapon(
            ammunition: 0,
            power: 2,
            delay: 0,
            probability: 3,
        ),
        old_woman: Weapon(
            ammunition: 0,
            power: 2,
            delay: 0,
            probability: 3,
        ),
        sheep_launcher: Weapon(
            ammunition: 0,
            power: 2,
            delay: 0,
            probability: 3,
        ),
        super_sheep: Weapon(
            ammunition: 0,
            power: 2,
            delay: 0,
            probability: 3,
        ),
        mole_bomb: Weapon(
            ammunition: 0,
            power: 2,
            delay: 0,
            probability: 3,
        ),
        jet_pack: Weapon(
            ammunition: 0,
            power: 0,
            delay: 0,
            probability: 0,
        ),
        low_gravity: Weapon(
            ammunition: 0,
            power: 0,
            delay: 0,
            probability: 0,
        ),
        laser_sight: Weapon(
            ammunition: 0,
            power: 0,
            delay: 0,
            probability: 0,
        ),
        fast_walk: Weapon(
            ammunition: 0,
            power: 0,
            delay: 0,
            probability: 0,
        ),
        invisibility: Weapon(
            ammunition: 0,
            power: 0,
            delay: 0,
            probability: 0,
        ),
        damage_x2: Weapon(
            ammunition: 0,
            power: 0,
            delay: 0,
            probability: 0,
        ),
    ),
    super_weapons: SuperWeapons(
        freeze: Weapon(
            ammunition: 0,
            power: 0,
            delay: 0,
            probability: 0,
        ),
        super_banana_bomb: Weapon(
            ammunition: 0,
            power: 2,
            delay: 0,
            probability: 0,
        ),
        mine_strike: Weapon(
            ammunition: 0,
            power: 2,
            delay: 0,
            probability: 0,
        ),
        girder_starter_pack: Weapon(
            ammunition: 0,
            power: 2,
            delay: 0,
            probability: 0,
        ),
        earthquake: Weapon(
            ammunition: 0,
            power: 2,
            delay: 0,
            probability: 0,
        ),
        scales_of_justice: Weapon(
            ammunition: 0,
            power: 2,
            delay: 0,
            probability: 0,
        ),
        ming_vase: Weapon(
            ammunition: 0,
            power: 2,
            delay: 0,
            probability: 0,
        ),
        mikes_carpet_bomb: Weapon(
            ammunition: 0,
            power: 2,
            delay: 0,
            probability: 0,
        ),
        patsys_magic_bullet: Weapon(
            ammunition: 0,
            power: 2,
            delay: 0,
            probability: 0,
        ),
        indian_nuclear_test: Weapon(
            ammunition: 0,
            power: 2,
            delay: 0,
            probability: 0,
        ),
        select_worm: Weapon(
            ammunition: 0,
            power: 2,
            delay: 0,
            probability: 0,
        ),
        salvation_army: Weapon(
            ammunition: 0,
            power: 2,
            delay: 0,
            probability: 0,
        ),
        mole_squadron: Weapon(
            ammunition: 0,
            power: 2,
            delay: 0,
            probability: 0,
        ),
        mb_bomb: Weapon(
            ammunition: 0,
            power: 2,
            delay: 0,
            probability: 0,
        ),
        concrete_donkey: Weapon(
            ammunition: 0,
            power: 2,
            delay: 0,
            probability: 0,
        ),
        suicide_bomber: Weapon(
            ammunition: 0,
            power: 2,
            delay: 0,
            probability: 0,
        ),
        sheep_strike: Weapon(
            ammunition: 0,
            power: 2,
            delay: 0,
            probability: 0,
        ),
        mail_strike: Weapon(
            ammunition: 0,
            power: 2,
            delay: 0,
            probability: 0,
        ),
        armageddon: Weapon(
            ammunition: 0,
            power: 2,
            delay: 0,
            probability: 0,
        ),
    ),
    extended_options: ExtendedOptions(
        data_version: 0,
        constant_wind: false,
        wind: 100,
        wind_bias: 15,
        gravity: FixedPoint(15728),
        terrain_friction: FixedPoint(62914),
        rope_knocking: 0,
        blood_level: 255,
        unrestrict_rope: false,
        auto_place_worms_by_ally: false,
        no_crate_probability: 255,
        maximum_crate_count_on_map_at_once: 5,
        sudden_death_disables_worm_select: true,
        sudden_death_worm_damage_per_turn: 5,
        phased_worms_allied: Off,
        phased_worms_enemy: Off,
        circular_aim: false,
        anti_lock_aim: false,
        worm_selection_doesnt_end_hot_seat: false,
        worm_selection_is_never_cancelled: false,
        batty_rope: false,
        rope_roll_drops: Disabled,
        x_impact_loss_of_control: 0,
        keep_control_after_bumping_head: false,
        keep_control_after_skimming: LoseControl,
        explosions_cause_fall_damage_is_triggered_by_explosions: false,
        explosions_push_all_objects: False,
        undetermined_crates: Default,
        undetermined_fuses: False,
        pause_timer_while_firing: false,
        loss_of_control_doesnt_end_turn: true,
        weapon_use_doesnt_end_turn: false,
        above_option_doesnt_block_weapons: false,
        pneumatic_drill_imparts_velocity: False,
        girder_assist_radius: Default,
        petrol_turn_decay: 12800,
        petrol_touch_decay: 51,
        maximum_flamelet_count: 51230,
        maximum_projectile_speed: FixedPoint(536870912),
        maximum_rope_speed: FixedPoint(268435456),
        maximum_jetpack_speed: FixedPoint(83886080),
        game_engine_speed: FixedPoint(16777216),
        indian_rope_glitch: False,
        herd_doubling_glitch: Default,
        jetpack_bungee_glitch: Default,
        angle_cheat_glitch: False,
        glide_glitch: False,
        skipwalking: Facilitated,
    ),
)
